---
import { Fragment } from 'astro/jsx-runtime';
import { SITE_AUTHOR, SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Meta from './Meta.astro';
import Plugins from './Plugins.astro';
import Themes from './Themes.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const isProd = import.meta.env.PROD;
---

<meta charset="UTF-8" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />

<!--Favicons-->
<link rel="icon" type="image/png" href="/src/img/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/src/img/favicon-32x32.png" sizes="32x32" />

<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<!-- Algolia -->
<link rel="preconnect" href="https://6LPFESP50M-dsn.algolia.net" crossorigin />

<!-- Title -->
<title>{title} - {SITE_TITLE}</title>

<!-- Description -->
{description ? <meta name="description" content={description} /> : <meta name="description" content={SITE_DESCRIPTION} />}

<!-- Author -->
<meta name="author" content={SITE_AUTHOR} />

<!-- Plugins -->
{isProd && <Plugins />}

<!-- Meta -->
<Meta title={title} description={description} />

<!-- Themes -->
<Themes />