---
import { currentTheme, type Theme, themes } from '../themes';

const { className } = currentTheme;
const laptop = `url('../../img/themes/${className}.png')`;
---

<section class="section">
  <!-- Theme Chooser -->
  <div class="theme-chooser">
    <h3 class="section-title">Available Themes</h3>

    <div class="theme-chooser-options">
      {
        themes.material.map((theme: Theme) => (
          <div>
            <a
              href="javascript:void(0)"
              style={`background: ${theme.background}`}
              class={`theme ${theme.className} js-theme`}
              title={theme.name}
              data-theme-class={theme.className}
            />
            <p class="theme-name">{theme.name}</p>
          </div>
        ))
      }
    </div>

    <div class="theme-chooser-options">
      {
        themes.material2.map((theme: Theme) => (
          <div>
            <a
              href="javascript:void(0)"
              style={`background: ${theme.background}`}
              class={`theme ${theme.className} js-theme`}
              title={theme.name}
              data-theme-class={theme.className}
            />
            <p class="theme-name">{theme.name}</p>
          </div>
        ))
      }
    </div>
  </div>

  <!-- Screen -->
  <div>
    <a href={`/img/themes/${className}.png`} target="_blank" class={`screenshot -${className}`}></a>
  </div>

  <div class="theme-chooser">
    <h3 class="section-title">Check out the other themes:</h3>

    <div class="theme-chooser-options">
      {
        themes.other.map((theme: Theme) => (
          <div>
            <a
              href="javascript:void(0)"
              style={`background: ${theme.background}`}
              class={`theme ${theme.className} js-theme`}
              title={theme.name}
              data-theme-class={theme.className}
            />
            <p class="theme-name">{theme.name}</p>
          </div>
        ))
      }
    </div>

    <div class="theme-chooser-options">
      {
        themes.other2.map((theme: Theme) => (
          <div>
            <a
              href="javascript:void(0)"
              style={`background: ${theme.background}`}
              class={`theme ${theme.className} js-theme`}
              title={theme.name}
              data-theme-class={theme.className}
            />
            <p class="theme-name">{theme.name}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style define:vars={{ laptop }}>
  .theme-chooser {
    @apply my-[1em] mx-0 max-sm:hidden;
  }

  .theme-chooser-options {
    @apply flex flex-row justify-around;
  }

  .theme-name {
    @apply uppercase;
  }

  .theme {
    @apply rounded-[50%] inline-block h-[48px] p-0 w-[48px] m-4;
    box-shadow:
      0 0 11px 2px rgba(255, 255, 255, 0.23),
      0 -1px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .screenshot {
    background:
      var(--laptop) no-repeat 50% 30%,
      url('../../img/laptop.png') no-repeat top left;
    background-size: 75%, contain;
    @apply bg-no-repeat block pt-[60%] w-full;
  }
</style>