---
import { currentTheme, type Theme, themes } from '../themes';
import { ThemeButton } from './ThemeButton.tsx';

const { className } = currentTheme;
const laptop = `url('../../img/themes/${className}.png')`;
---

<section class="section">
  <!-- Theme Chooser -->
  <div class="theme-chooser">
    <h3 class="section-title">Available Themes</h3>

    <div class="theme-chooser-options">
      {themes.material.map((theme: Theme) => <ThemeButton theme={theme} client:visible />)}
    </div>

    <div class="theme-chooser-options">
      {themes.material2.map((theme: Theme) => <ThemeButton theme={theme} client:visible />)}
    </div>
  </div>

  <!-- Screen -->
  <div>
    <a href={`/img/themes/${className}.png`} target="_blank" class={`screenshot -${className}`}></a>
  </div>

  <div class="theme-chooser">
    <h3 class="section-title">Check out the other themes:</h3>

    <div class="theme-chooser-options">
      {themes.other.map((theme: Theme) => <ThemeButton theme={theme} client:visible />)}
    </div>

    <div class="theme-chooser-options">
      {themes.other2.map((theme: Theme) => <ThemeButton theme={theme} client:visible />)}
    </div>
  </div>
</section>

<style define:vars={{ laptop }}>
  .theme-chooser {
    @apply my-[1em] mx-0 max-sm:hidden;
  }

  .theme-chooser-options {
    @apply flex flex-row justify-around;
  }

  .screenshot {
    background:
      var(--laptop) no-repeat 50% 30%,
      url('../../img/laptop.png') no-repeat top left;
    background-size: 75%, contain;
    @apply bg-no-repeat block pt-[60%] w-full;
  }
</style>